@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  @font-face {
    font-family: "Lahzeh";
    font-style: thin;
    font-weight: 100;
    src: url("/assent/font2/LahzehPro/LahzehFaNum/LahzehFaNumWebfonts/woff/Lahzeh-FaNum-Thin.woff");
  }
  @font-face {
    font-family: "Lahzeh";
    font-style: ExtraLight;
    font-weight: 200;
    src: url("/assent/font2/LahzehPro/LahzehFaNum/LahzehFaNumWebfonts/woff/Lahzeh-FaNum-ExtraLight.woff");
  }
  @font-face {
    font-family: "Lahzeh";
    font-style: light;
    font-weight: 300;
    src: url("/assent/font2/LahzehPro/LahzehFaNum/LahzehFaNumWebfonts/woff/Lahzeh-FaNum-Light");
  }
  @font-face {
    font-family: "Lahzeh";
    font-style: regular;
    font-weight: 400;
    src: url("/assent/font2/LahzehPro/LahzehFaNum/LahzehFaNumWebfonts/woff/Lahzeh-FaNum-Regular.woff");
  }
  @font-face {
    font-family: "Lahzeh";
    font-style: medium;
    font-weight: 500;
    src: url("/assent/font2/LahzehPro/LahzehFaNum/LahzehFaNumWebfonts/woff/Lahzeh-FaNum-Medium.woff");
  }
  @font-face {
    font-family: "Lahzeh";
    font-style: SemiBold;
    font-weight: 600;
    src: url("/assent/font2/LahzehPro/LahzehFaNum/LahzehFaNumWebfonts/woff/Lahzeh-FaNum-SemiBold.woff");
  }
  @font-face {
    font-family: "Lahzeh";
    font-style: bold;
    font-weight: 700;
    src: url("/assent/font2/LahzehPro/LahzehFaNum/LahzehFaNumWebfonts/woff/Lahzeh-FaNum-Bold.woff");
  }
  @font-face {
    font-family: "Lahzeh";
    font-style: extraBold;
    font-weight: 800;
    src: url("/assent/font2/LahzehPro/LahzehFaNum/LahzehFaNumWebfonts/woff/Lahzeh-FaNum-ExtraBold.woff");
  }
  @font-face {
    font-family: "Lahzeh";
    font-style: black;
    font-weight: 900;
    src: url("/assent/font2/LahzehPro/LahzehFaNum/LahzehFaNumWebfonts/woff/Lahzeh-FaNum-Black.woff");
  }
}